<h1>{{pageHeader}}</h1>
<div class="well">
    <div class="form-inline term-header">
        <div class="form-group">
            {{input class="term-item form-control" type="text" placeholder="Search" value=searchTerm}}
        </div>
        <div class="form-group">
            {{#link-to 'add-term' class="btn btn-primary term-item"}}Add Term{{/link-to}}
        </div>
    </div>
    There are currently <b>{{numberOfTerms}}</b> terms
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="clickable dropdown" {{action 'changeSort' 'term'}} id="termHeader">Term <span class="{{termCaret}}"></span></th>
                <th class="clickable" {{action 'changeSort' 'definition'}} id="definitionHeader">Definition <span class="{{definitionCaret}}"></span></th>
            </tr>
        </thead>
        <tbody>
            {{#each sortedTerm as |term|}}
                <tr class='{{term.isHidden}}'>
                    <th>{{term.term}}</th>
                    <td>
                        {{term.definition}}
                        <span class="term-btn-wrapper">
                            {{#link-to 'edit-term' term.id class="btn btn-success btn-xs term-btn"}}Edit{{/link-to}}
                            <button class="btn btn-danger btn-xs term-btn" {{action 'deleteTerm' term}} >Delete</button>
                        </span>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>