<h1>Verbs</h1>
<div class="well">
    <div class="form-horizontal">
        {{input class="input" type="text" placeholder="Search"}}
        <button class="btn btn-primary">Add Term</button> 
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="clickable" {{action 'changeSort' 'term'}}>Verb</th>
                <th class="clickable" {{action 'changeSort' 'definition'}}>Definition</th>
            </tr>
        </thead>
        <tbody>
            {{#each sortedTerm as |verb|}}
                <tr>
                    <th>{{verb.term}}</th>
                    <td>{{verb.definition}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>