<h1>Verbs</h1>
<div class="well">
    <div class="form-inline term-header">
        <div class="form-group">
            {{input class="term-item form-control" type="text" placeholder="Search" value=searchTerm}}
        </div>
        {{#link-to 'add-term' class="btn btn-primary term-item"}}Add Term{{/link-to}}
        {{!-- <button class="btn btn-primary term-item">Add Term</button>  --}}
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="clickable" {{action 'changeSort' 'term'}}>Verb</th>
                <th class="clickable" {{action 'changeSort' 'definition'}}>Definition</th>
            </tr>
        </thead>
        <tbody>
            {{#each sortedTerm as |verb|}}
                <tr class='{{verb.isHidden}}'>
                    <th>{{verb.term}}</th>
                    <td>
                        {{verb.definition}}
                        <span class="term-btn-wrapper">
                            {{#link-to 'edit-term' verb.id class="btn btn-success btn-xs term-btn"}}Edit{{/link-to}}
                            <button class="btn btn-danger btn-xs term-btn" {{action 'deleteTerm' verb}} >Delete</button>
                        </span>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>